.overlay.open {
    @include media-m {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s;
    }
}

.header__toggle-btn {
    position: absolute;
    top: 0;
    left: 10px;
    color: $white;
    font-size: 1.7rem;
    display: none;

    @include media-m {
        display: block;
        z-index: 101;
    }
}

.header__burger {
    display: none;
    border-radius: 0 0 10px 0;

    @include media-m {
        position: fixed;
        background-color: $color-grey;
        top: 60px;
        width: 50%;
        max-width: 260px;
        height: 100%;
        overflow: hidden;
        z-index: 100;
        transform: translateY(-100vh);
    }
}

.header__burger.open {
    @include media-m {
        opacity: 1;
        visibility: visible;
        display: block;
        transform: none;
        transition: all 0.5s;
        min-height: 360px
    }

    @include media-m {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.header__burger li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


@include media-m {
    .header__nav-link a {
        padding-bottom: 5px;
        font-size: 16px;

        &:hover {
            background: none;
            color: $secondary;
        }
    }

    .header__link-active a {
        background: none;
        color: $secondary;
    }
}

.header__burger-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    gap: 20px;

    @include media-xs {
        gap: 15px;
    }
}

.header__footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: $color-nav;

    @include media-xs {
        width: 25px;
        height: 25px;
    }
}

.header__footer-img {
    width: 21px;
    transition: all .2s ease;

    &:hover {
        transform: scale(1.2);
    }

    @include media-xs {
        width: 15px;
    }
}

.header__footer-text {
    color: $color-nav;
    text-align: center;
}